//:root{
//  --transition: cubic-bezier(0.24, 0.82, 0.43, 1.05)
//}

/**
 * Settings
 */

$sal-animation-duration: 0.2s !default;
$sal-animation-delay: 0s !default;
$sal-slide-offset: 20% !default;
$sal-zoom-in-scale: 0.5 !default;
$sal-zoom-out-scale: 1.1 !default;
$sal-flip-rotate: 91deg !default;
/**
 * Settings
 */

$sal-animation-duration: 0.2s !default;
$sal-animation-delay: 0s !default;
$sal-slide-offset: 20% !default;
$sal-zoom-in-scale: 0.5 !default;
$sal-zoom-out-scale: 1.1 !default;
$sal-flip-rotate: 91deg !default;

/**
 * Easings
 */

$sal-easings: (
  linear: linear,
  ease: ease,
  ease-in: ease-in,
  ease-out: ease-out,
  ease-in-out: ease-in-out,

  ease-in-cubic: cubic-bezier(.55, .055, .675, .19),
  ease-out-cubic: cubic-bezier(.215, .61, .355, 1),
  ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1),

  ease-in-circ: cubic-bezier(.6, .04, .98, .335),
  ease-out-circ: cubic-bezier(.075, .82, .165, 1),
  ease-in-out-circ: cubic-bezier(.785, .135, .15, .86),

  ease-in-expo: cubic-bezier(.95, .05, .795, .035),
  ease-out-expo: cubic-bezier(.19, 1, .22, 1),
  ease-in-out-expo: cubic-bezier(1, 0, 0, 1),

  ease-in-quad: cubic-bezier(.55, .085, .68, .53),
  ease-out-quad: cubic-bezier(.25, .46, .45, .94),
  ease-in-out-quad: cubic-bezier(.455, .03, .515, .955),

  ease-in-quart: cubic-bezier(.895, .03, .685, .22),
  ease-out-quart: cubic-bezier(.165, .84, .44, 1),
  ease-in-out-quart: cubic-bezier(.77, 0, .175, 1),

  ease-in-quint: cubic-bezier(.755, .05, .855, .06),
  ease-out-quint: cubic-bezier(.23, 1, .32, 1),
  ease-in-out-quint: cubic-bezier(.86, 0, .07, 1),

  ease-in-sine: cubic-bezier(.47, 0, .745, .715),
  ease-out-sine: cubic-bezier(.39, .575, .565, 1),
  ease-in-out-sine: cubic-bezier(.445, .05, .55, .95),

  ease-in-back: cubic-bezier(.6, -.28, .735, .045),
  ease-out-back: cubic-bezier(.175, .885, .32, 1.275),
  ease-in-out-back: cubic-bezier(.68, -.55, .265, 1.55)
);

/**
 * Core
 */

[data-sal] {
  transition-duration: $sal-animation-duration;
  transition-delay: $sal-animation-delay;
  transition-duration: var(--sal-duration, $sal-animation-duration);
  transition-delay: var(--sal-delay, $sal-animation-delay);
  transition-timing-function: var(--sal-easing, map-get($sal-easings, 'ease'));
}

@for $i from 4 through 40 {
  [data-sal][data-sal-duration='#{$i * 50}'] {
    transition-duration: #{$i * 0.05}s;
  }
}

@for $i from 1 through 20 {
  [data-sal][data-sal-delay='#{$i * 50}'] {
    transition-delay: #{$i * 0.05}s;
  }
}

@each $key, $value in $sal-easings {
  [data-sal][data-sal-easing='#{$key}'] {
    transition-timing-function: $value;
  }
}

/**
 * Animations
 */

[data-sal|='header'] {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 500ms var(--transition), opacity 200ms var(--transition);
  transition-delay: 260ms;
  .label{
    opacity: 0;
    transform: translateY(10px);
    transform-origin: top;
    transition: opacity .5s var(--transition),transform .5s var(--transition);
    transition-delay: 240ms;
  }
  .headline{
  opacity: 0;
  transform: rotateX(60deg) rotateY(8deg) translateZ(12px) translateY(100px);
  transform-origin: top;
  transition: opacity 600ms var(--transition),transform 600ms var(--transition);
  transition-delay: 240ms;
  }
  .subhead{
    transform: translateX(1vw);
    transition: opacity .4s var(--transition),transform .4s var(--transition),-webkit-transform .4s var(--transition);
    transition-delay: 260ms;
  }
}
[data-sal|='header'].sal-animate,
body.sal-disabled [data-sal|='header'] {
  .label{
    opacity: 1;
    transform: translateY(0);
  }
  .headline{
    transform: rotateX(0deg) rotateY(0deg) translateZ(12px) translateY(0);
    opacity: 1;
  }
  .subhead{
    opacity: 1;
    transform: translateX(0);
  }
    opacity: 1;
    transform: translateY(0);
}

[data-sal|='project'] {
  transform: translateY(10%);
  transition: transform 600ms ease-in-out
}
[data-sal|='project'].sal-animate,
body.sal-disabled [data-sal|='project'] {
    transform: translateY(0);
}





