{% extends "../layouts/layout.twig" %}
{% set pageTitle = "404 :/" %}
{% set pageClass = "about" %}
{% block content %}

    <div class="404">
        <div class="404-container">
            <h1>404</h1>
        </div>
    </div>

{% endblock %}
{% block included_scripts %}
    <script src="js/global/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js" integrity="sha512-CPA5LMoJI/a5HkSIAKcBtFXe4gqGjPUL2ExF/3PmhrrHI17wod9xOqqF+0WZQRKIIq0KwF8oG5BaiWobtrke3A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}