{% extends "../layouts/layout.twig" %}
{% set pageTitle = "Contact - Faizur Rehman" %}
{% set pageClass = "projects" %}
{% set page = 'shop' %}
{% block content %}

    <div class="c-contact">
        <div class="c-contact-content">
            <div class="c-contact-container">
                <div class="c-contact-top c-hero">
                    <span class="comman-label">Contact</span>
                    <h1 class="h1 headline fontWeightMedium">Let’s make it <i>happen</i>
                    </h1>
                    <p class="subhead fontWeightMedium">Write an email <a href="mailto:me@faizur.com" class="link" onmouseover="this.href=this.href.replace(/x/g,'');">me@faizur.com</a> or fill in the <a href="#" class="link link--has-underline">airtable form</a></p>
                </div>
                <div class="c-contact-bottom">
                    <form id="businessInquiryForm" class="contact-form">
                        <div class="input-group">
                            <div class="input">
                                <input class="input__field" type="text" id="name" name="name">
                                <label class="input__label input__label-custom" for="name"> <span
                                            class="input__label-content input__label-content-custom">What's your name?</span>
                                </label>
                                <div class="graphic"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input">
                                <input class="input__field" type="email" id="email" name="email">
                                <label class="input__label input__label-custom" for="email"> <span
                                            class="input__label-content input__label-content-custom">Your Email</span>
                                </label>
                                <div class="graphic"></div>
                            </div>
                        </div>
{#                        <span class="message input-meta"></span>#}
{#                        <div class="message input-meta error">Please enter a valid email address</div>#}
                        <div class="input-group">
                            <div class="input">
                                <textarea class="input__field" id="message_html" name="message_html"></textarea>
                                <label class="input__label input__label-custom" for="message_html">
                                    <span class="input__label-content input__label-content-custom">Tell us about your project...</span>
                                </label>
                                <div class="graphic"></div>
                                <div class="message-counter"></div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn--contact" id="businessInquiryFormTrigger"  value="Send Email">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="c-c-contact" style="background-color: #BAC4C7">
        <div class="c-contact-content">
            <div class="c-contact-container">
                <div class="background-unit">
                    <img src="public/images/graphics/contact/contact.png" alt="" class="image">
                </div>
            </div>
        </div>
    </div>

    <div id="messageSuccess" class="email-message__container"><span>Email has been successfully sent</span></div>
    <div id="messageFailed" class="email-message__container"><span>Message not send, Send us an email</span></div>




{% endblock %}
{% block included_scripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script src="js/contact/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js" integrity="sha512-sOMf7h9Uvkeku+gv6cIDNhpgvcunE9pAf3A/ezNcRG7//ZZv7nDm6ut69qAXTIU5J9JTbZ+PfrwqstYrq2ZnQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>

    <script>



$.validator.addMethod("letters", function(value, element) {
         return this.optional(element) || value == value.match(/^[a-zA-Z\s]*$/);
       });

var btn = $("#businessInquiryFormTrigger");
//initialize email js
$("#businessInquiryForm").submit(function(e) {
    e.preventDefault();
    var form = $(this);
    form.validate({
      rules: {
        email: {
          required: true,
          email: true
        },
          message_html: {
          required: true,
          minlength: 100,
        }
      },
      messages: {
        name: "Please specify your name (only letters and spaces are allowed)",
        message_html: "Atleast 100 words required "
      },
      submitHandler: function() {
        //send message here
        btn.val('Sending....');
        var serviceID = "default_service";
        var templateID = "businessEmail";

          emailjs.sendForm(serviceID, templateID, form[0])
            .then(() => {
                $("#messageSuccess").addClass("--successful").delay(2000).queue(function(){
                    $(this).removeClass("--successful").dequeue();
                    location.reload();
                });
                $('#businessInquiryForm').trigger('reset');
                btn.val('Sending...');

            }, (err) => {
                $("#messageFailed").addClass("--messageFailed").delay(2000).queue(function () {
                    $(this).removeClass("--messageFailed").dequeue();
                    location.reload();
                });
                btn.val('Email has been not send, Please try with form');

            });

       }
    });



});


    </script>
{% endblock %}