{% extends "../layouts/layout.twig" %}
{% set pageTitle = "Projects - Faizur Rehman" %}
{% set pageClass = "Projects" %}
{% set page = 'work' %}
{% block content %}

    <section class="c-hero c-heroWork">
        <div class="c-hero-content">
            <div class="c-hero-container">
                <div class="c-top-header">
                    <span class="comman-label">SELECTED Work</span>
                    <h2 class="h2 fontWeightMedium">Projects</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="c-workShowcase">
        <div class="c-workShowcase-content">
            <div class="c-workShowcase-container">
                <div class="workShowcase workShowcase--work">
                    {% for project in projects|sort %}
                        {% include "../components/molecules/projectcard-work.twig" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block included_scripts %}
    <script src="js/global/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"
            integrity="sha512-CPA5LMoJI/a5HkSIAKcBtFXe4gqGjPUL2ExF/3PmhrrHI17wod9xOqqF+0WZQRKIIq0KwF8oG5BaiWobtrke3A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const boxes = gsap.utils.toArray('.workShowcase--work .workShowcase__item');
        // Set things up
        gsap.set(boxes, {autoAlpha: 0, y: 50});
        boxes.forEach((box, i) => {
          // Set up your animation
          const anim = gsap.to(box, {duration: 0.2, autoAlpha: 1, y: 0, paused: true, delay: 0.1});
          // Use callbacks to control the state of the animation
          ScrollTrigger.create({
            trigger: box,
            end: "bottom bottom",
            once: true,
            onEnter: self => {
              // If it's scrolled past, set the state
              // If it's scrolled to, play it
              self.progress === 1 ? anim.progress(1) : anim.play()
            }
          });
        });
    </script>

{% endblock %}