<section class="c-aboutbreif">
    <div class="c-aboutbreif-content">
        <div class="c-aboutbreif-container">
           <div class="c-aboutbreif-grid">
               <div class="c-aboutbreif-grid-col --left">
                   <h5 class="h5 fontWeightMedium c-aboutWork-title">At work</h5>
               </div>
               <div class="c-aboutbreif-grid-col --right">
                   <div class="c-aboutbreif-text">
                       <p class="p2">We ask a lot of questions to understand business challenges and try to solve them. Then we create high-fidelity wireframes that are aligned with your goals. The wireframes become designs that solve business problems and these solutions are transformed into real designs. We believe in the process of- Learn, create & repeat.</p>
                       <p class="p2">When we’re not working for our clients, we’re focused on contributing to our huge design community.
                           <a class="link--has-underline" href="#">Faizur Academy</a> offers resources, templates, style guides, and courses to help thousands of aspiring designers turn their passion into opportunity.
                       </p>
                   </div>
               </div>
           </div>
        </div>
    </div>
</section>