<section class="c-aboutbreif">
    <div class="c-aboutbreif-content">
        <div class="c-aboutbreif-container">
           <div class="c-aboutbreif-grid">
               <div class="c-aboutbreif-grid-col --left">
                   <h5 class="h5  fontWeightMedium c-aboutWork-title">At work</h5>
               </div>
               <div class="c-aboutbreif-grid-col --right">
                   <div class="c-aboutbreif-text">
                       <p class="p2">We ask a lot of questions to understand the problems my clients want to solve and
                           the
                           goals they want to achieve. I then create high-fidelity wireframes that aim to address those
                           goals. Those wireframes get turned into visual interfaces, sometimes with subtle motion
                           effects,
                           to be prototyped and tested with real people.</p>
                       <p class="p2">When we’re not working for our clients, we’re focused on contributing to our huge
                           design community. FaizurAcademy offers resources, templates, styleguides, and courses to help
                           thousands of aspiring designers turn their passion into opportunity.</p>
                   </div>
               </div>
           </div>
        </div>
    </div>
</section>