<section class="c-benefits" style="background-color: #F3F5F7" >
    <div class="c-benefits-content">
        <div class="c-benefits-container">
            <div class="c-benefits-top">
                <span class="comman-label">Why I should hire you</span>
                <h2 class="headline h2 fontWeightMedium">Advantages of working with faizur</h2>
                <p class="p3 subhead">Whatever the field or platform, we can create it.</p>
            </div>
            <div class="c-benefits-bottom">
                <div class="c-benefits-grid">
                    <div class="c-benefits-grid-col">
                        <div class="c-approach-item">
                            <img class="c-approach-item__image" src="https://faizur.com/public/images/graphics/process/understand.png" alt="">
                            <h5 class="c-approach-item__headline">Time zones ain’t no thing</h5>
                            <p class="c-approach-item__subhead">We’re not afraid of the unknown. Before we jump in, we like to learn about your unique business, your core values, and why you need our help.</p>
                            </div>
                    </div>
                    <div class="c-benefits-grid-col">
                        <div class="c-approach-item">
                            <img class="c-approach-item__image" src="https://faizur.com/public/images/graphics/process/understand.png" alt="">
                            <h5 class="c-approach-item__headline">Bring in the WOW element</h5>
                            <p class="c-approach-item__subhead">We believe in magic and we create magic through our work. We take pride in creating wow experiences more than anything.</p>
                            </div>
                    </div>
                    <div class="c-benefits-grid-col">
                        <div class="c-approach-item">
                            <img class="c-approach-item__image" src="https://faizur.com/public/images/graphics/process/understand.png" alt="">
                            <h5 class="c-approach-item__headline">Be authentic. <br> Be unique.</h5>
                            <p class="c-approach-item__subhead">Our uniqueness is our magic and we're not afraid to be a version of ourselves. We create work we love, and we believe in what we do.</p>
                            </div>
                    </div>
                    <div class="c-benefits-grid-col">
                        <div class="c-approach-item">
                            <img class="c-approach-item__image" src="https://faizur.com/public/images/graphics/process/understand.png" alt="">
                            <h5 class="c-approach-item__headline">Flexible work <br>terms
                            </h5>
                            <p class="c-approach-item__subhead">We’re not afraid of the unknown. Before we jump in, we like to learn about your unique business, your core values, and why you need our help.</p>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
