<section class="c-benefits" style="background-color: #F3F5F7" >
    <div class="c-benefits-content">
        <div class="c-benefits-container">
            <div class="c-benefits-top" data-sal="header">
                <span class="comman-label">Why work with me</span>
                <h2 class="headline h2 fontWeightMedium">Benefits of going <i>with FAIZUR.</i></h2>
                <p class="p3 subhead">Whatever the field or platform, we can create it.</p>
            </div>
            <div class="c-benefits-bottom">
                <div class="c-benefits-grid">
                    <div class="c-benefits-grid-col">
                        <div class="c-approach-item">
                            <img class="c-approach-item__image" src="public/images/graphics/benefits/1.png" alt="">
                            <h5 class="c-approach-item__headline">Time zone <br> isn’t a barrier</h5>
                            <p class="c-approach-item__subhead">Working with us, time isn’t a problem wherever you are in the world, we get things done for you. Whatever your business problem is, we are ready to solve, time differences don’t matter.</p>
                            </div>
                    </div>
                    <div class="c-benefits-grid-col">
                        <div class="c-approach-item">
                            <img class="c-approach-item__image" src="public/images/graphics/benefits/2.png" alt="">
                            <h5 class="c-approach-item__headline">Wide range of services</h5>
                            <p class="c-approach-item__subhead">We believe in building better products and experiences that improve people’s lives. We come with a wide range of experience in websites and mobile app designing, branding, saas products and business applications.</p>
                            </div>
                    </div>
                    <div class="c-benefits-grid-col">
                        <div class="c-approach-item">
                            <img class="c-approach-item__image" src="public/images/graphics/benefits/3.png" alt="">
                            <h5 class="c-approach-item__headline">Bring in the  <br> WOW element</h5>
                            <p class="c-approach-item__subhead">We believe in magic and we create magic through our work. We take pride in creating wow experiences more than anything. Our uniqueness is our magic and we're not afraid to be a version of ourselves. </p>
                            </div>
                    </div>
                    <div class="c-benefits-grid-col">
                        <div class="c-approach-item">
                            <img class="c-approach-item__image" src="public/images/graphics/benefits/4.png" alt="">
                            <h5 class="c-approach-item__headline">Flexible <br> in every-way
                            </h5>
                            <p class="c-approach-item__subhead">We believe we are different from others. The budget won’t be a problem as we are quite flexible about it. We believe in solving your problems and rest assured we can work everything outright from the first call. </p>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
