<section class="c-clients" style="background-color: #0F0F0F">
    <div class="c-clients-content ">
        <div class="c-clients-container">
            <div class="c-clients-top">
                <h2 class="headline h2 fontWeightMedium colorTextWhite">Happy clients from all over the world</h2>
                <p class="p3 subhead colorTextWhite">I’ve worked for a lot of big-name companies, both at agencies and as a freelancer. A lot of it is under NDA or just plain old, but that won’t stop me from dropping some names to imply that I’m kind of a big deal.</p>
            </div>
            <div class="c-clients-bottom">
                <div class="c-clients-grid">
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-1">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/vencortex.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-2">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/dietstation.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-3">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/thewanderful.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-4">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/futureproofer.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-5">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/avocado.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-6">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/neutraldigital.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-7">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/taper.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-8">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/corecare.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-9">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/diyar.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-10">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/twiddle.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-11">
                            <div class="c-clients-block__logo">
                                <img src="public/images/clients-logo/moneymour.svg" alt="">
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
{#                    <div class="c-clients-grid-item">#}
{#                        <div class="c-clients-block --vencortex">#}
{#                            <div class="c-clients-block__logo">#}
{#                                <img src="public/images/clients-logo/vencortex.svg" alt="">#}
{#                            </div>#}
{#                            <div class="c-clients-block__text">#}
{#                                Helped in Branding, Website & Dashboard#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>


            <div class="c-jobs">
                <div class="c-jobs-top">
                    <h5 class="headline colorTextWhite">Before turning a passion into full-time indepented designer, I worked 5+ years officially in 5+ companies</h5>
                </div>
                <div class="c-jobs-bottom">
                   <div class="c-jobs-grid">
                       <div class="c-jobs-grid-item">
                           <div class="c-job-official">
                               <div class="c-job-official__logo">
                                   <img src="public/images/companies-logo/virtualemployee.svg" alt="">
                               </div>
                               <div class="c-job-official__context">
                                    <span class="c-job-official-profile">Creative Designer & Content Creator</span>
                                    <span class="c-job-official-country">India</span>
                               </div>
                           </div>
                       </div>
                       <div class="c-jobs-grid-item">
                           <div class="c-job-official">
                               <div class="c-job-official__logo">
                                   <img src="public/images/companies-logo/ndtv.svg" alt="">
                               </div>
                               <div class="c-job-official__context">
                                    <span class="c-job-official-profile">Associate UX/UI Designer</span>
                                    <span class="c-job-official-country">India</span>
                               </div>
                           </div>
                       </div>
                       <div class="c-jobs-grid-item">
                           <div class="c-job-official">
                               <div class="c-job-official__logo">
                                   <img src="public/images/companies-logo/avizva.svg" alt="">
                               </div>
                               <div class="c-job-official__context">
                                    <span class="c-job-official-profile">Associate Creative Designer - L2</span>
                                    <span class="c-job-official-country">India</span>
                               </div>
                           </div>
                       </div>
                       <div class="c-jobs-grid-item">
                           <div class="c-job-official">
                               <div class="c-job-official__logo">
                                   <img src="public/images/companies-logo/sapient.svg" alt="">
                               </div>
                               <div class="c-job-official__context">
                                    <span class="c-job-official-profile">Senior UX/UI designer</span>
                                    <span class="c-job-official-country">India</span>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>


        </div>
    </div>
</section>
