<section class="c-clients" style="background-color: #0F0F0F">
    <div class="c-clients-content ">
        <div class="c-clients-container">
            <div class="c-clients-top">
                <h2 class="headline h2 fontWeightMedium colorTextWhite">Happy clients from all over the world</h2>
                <p class="p3 subhead colorTextWhite">As a full-time independent designer, I have helped many brands in
                    business and design. Most of my work I can’t disclose publicly, you know what I mean (under NDA) but
                    at least I can drop some of the names I worked for to give you an idea that I’m kind of a big
                    deal.</p>
            </div>
            <div class="c-clients-bottom">
                <div class="c-clients-grid">
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-1">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/vencortex.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding, Website & Dashboard
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-2">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/dietstation.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in App Design
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-3">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/thewanderful.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding & Website
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-4">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/futureproofer.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in Branding & Website
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-5">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/avocado.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in app design & branding
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-6">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/neutraldigital.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Lot of works under NDA
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-7">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/taper.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in branding, app design
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-8">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/corecare.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in website
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-9">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/diyar.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in app design
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-10">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/twiddle.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in app design
                            </div>
                        </div>
                    </div>
                    <div class="c-clients-grid-item">
                        <div class="c-clients-block --logo-11">
                            <div class="c-clients-block__logo">
                                <div class="c-clients-block__logo__inner">
                                <img src="public/images/clients-logo/moneymour.svg" alt="">
                                </div>
                            </div>
                            <div class="c-clients-block__text">
                                Helped in app design
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="c-jobs">
                <div class="c-jobs-top">
                    <h5 class="headline colorTextWhite">I started my passion with my first official job and built my
                        design career by doing different creative roles with recognized brands. Those experiences have
                        made me the designer I am today.</h5>
                    <p class="p3 subhead colorTextWhite"> Currently, I’m working as an independent designer most of the
                        time collaborating with design teams, dev teams and the co-founders of companies from across the
                        world. </p>
                </div>
                <div class="c-jobs-bottom">
                    <div class="c-jobs-grid">
                        <div class="c-jobs-grid-item">
                            <div class="c-job-official">
                                <div class="c-job-official__logo">
                                    <a href="https://podcastle.ai/" target="_blank"><img src="public/images/companies-logo/podcastle.svg" alt=""></a>
                                </div>
                                <div class="c-job-official__context">
                                    <span class="c-job-official-profile">Sr. Principal Product Designer</span>
                                    <span class="c-job-official-country">Current — Armenia</span>
                                </div>
                            </div>
                        </div>
                        <div class="c-jobs-grid-item">
                            <div class="c-job-official">
                                <div class="c-job-official__logo">
                                    <img src="public/images/companies-logo/sapient.svg" alt="">
                                </div>
                                <div class="c-job-official__context">
                                    <span class="c-job-official-profile">Sr. UX/UI designer</span>
                                    <span class="c-job-official-country">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="c-jobs-grid-item">
                            <div class="c-job-official">
                                <div class="c-job-official__logo">
                                    <img src="public/images/companies-logo/avizva.svg" alt="">
                                </div>
                                <div class="c-job-official__context">
                                    <span class="c-job-official-profile">Associate Creative Designer - L2</span>
                                    <span class="c-job-official-country">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="c-jobs-grid-item">
                            <div class="c-job-official">
                                <div class="c-job-official__logo">
                                    <img src="public/images/companies-logo/ndtv.svg" alt="">
                                </div>
                                <div class="c-job-official__context">
                                    <span class="c-job-official-profile">Associate UX/UI Designer</span>
                                    <span class="c-job-official-country">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="c-jobs-grid-item">
                            <div class="c-job-official">
                                <div class="c-job-official__logo">
                                    <img src="public/images/companies-logo/virtualemployee.svg" alt="">
                                </div>
                                <div class="c-job-official__context">
                                    <span class="c-job-official-profile">Creative Designer & Content Creator</span>
                                    <span class="c-job-official-country">India</span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
