<section class="c-creation" style="background-color: #38383b">

    <div class="c-creation-content">
        <div class="c-creation-container">

            <div class="c-creation-top">
                <span class="comman-label colorTextWhite">creation</span>
                <h2 class="headline h2 fontWeightMedium colorTextWhite">
                    As a creator<i> I do many things</i></h2>
            </div>

            <div class="c-creation-bottom">
                <div class="creation">
                    <div class="creationList ">
                        <a class="creationListItem">
                            <h5 class="creationListItem__name h6">YouTube<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I upload videos covering premium tech, design and lifestyle.</span>
                        </a>
                        <a class="creationListItem">
                            <h5 class="creationListItem__name h6">Faizur
                                Store<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I teach others how to design and make websites.</span>
                        </a>
                        <a class="creationListItem">
                            <h5 class="creationListItem__name h6">Photography
                                work<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I upload videos covering premium tech, design and lifestyle.</span>
                        </a>
                        <a class="creationListItem">
                            <h5 class="creationListItem__name h6">Instagram<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I upload videos covering premium tech, design and lifestyle.</span>
                        </a>
                        <a class="creationListItem">
                            <h5 class="creationListItem__name h6">Teaching
                                Design<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I upload videos covering premium tech, design and lifestyle.</span>
                        </a>
                        <a class="creationListItem">
                            <h5 class="creationListItem__name h6">Consulting<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I upload videos covering premium tech, design and lifestyle.</span>
                        </a>
                        <a class="creationListItem">
                            <h5 class="creationListItem__name h6">Design
                                Work<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I upload videos covering premium tech, design and lifestyle.</span>
                        </a>
                        <a class="creationListItem">
                            <h5 class="creationListItem__name h6">The
                                Newsletter <i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I upload videos covering premium tech, design and lifestyle.</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>