<section class="c-heroAbout" style="background-color: #0F0F0F">
      <div class="c-heroAboutWrapper">
         <div class="c-heroAbout-container paddingHack-onMobile ">
            <div class="c-heroAboutContent">
               <div class="c-heroAbout-left">
                  <div class="c-heroAboutContent-headline">
                     <svg class="c-heroAboutContent-headline-1" viewBox="0 0 427 164"><path fill="#fff" d="M30.32 125V76.52H74V125h29.92V8.2H74v46.88H30.32V8.2H.4V125h29.92zm153.815-37.28c-2.08 9.12-7.68 14.88-19.2 14.88-13.28 0-20.64-7.84-20.64-21.92h68.32v-3.52c0-24.96-15.84-43.52-47.52-43.52-30.88 0-49.12 20.96-49.12 46.88 0 26.88 15.52 46.08 49.6 46.08 24.96 0 41.76-12.32 47.36-31.52l-28.8-7.36zm-18.88-30.4c13.44 0 19.36 8.16 19.36 19.68v2.4h-40.32c.48-13.44 7.52-22.08 20.96-22.08zM218.691.84V125h28.8V.84h-28.8zm37.188 0V125h28.8V.84h-28.8zm83.747 125.76c32 0 49.12-20.48 49.12-46.4 0-26.24-17.76-46.56-49.12-46.56-31.36 0-49.12 20.8-49.12 46.56 0 26.4 17.44 46.4 49.12 46.4zm0-24c-14.08 0-20.64-8.48-20.64-22.56 0-14.08 6.72-22.72 20.64-22.72 13.6 0 20.64 8.48 20.64 22.72 0 13.6-6.08 22.56-20.64 22.56zm66.739 61.12c14.08-14.56 20.32-36 20.32-52.32 0-12.32-6.88-20.8-19.04-20.8-10.88 0-18.08 7.36-18.08 18.24 0 9.44 6.24 17.92 17.76 17.92 10.4 0 16.64-6.72 18.4-15.68 0 13.92-17.44 26.24-36.64 35.68l17.28 16.96z"/></svg>
                     <svg class="c-heroAboutContent-headline-2" viewBox="0 0 739 131"><path fill="#fff" d="M29.6 128V11.2H.48V128H29.6zM53.325 46.24c10.4 0 16.64-6.56 18.4-15.52 0 13.92-16.96 25.76-36.64 33.92l17.28 16.96c14.56-14.72 20.32-34.08 20.32-50.72 0-12.32-6.88-20.8-19.04-20.8-10.88 0-18.08 7.36-18.08 18.24 0 9.44 6.24 17.92 17.76 17.92zM106.918 83.36c0-14.08 4.8-23.2 17.12-23.2 12.8 0 16.48 8 16.48 20.8V128h28.48V83.52c0-14.08 6.08-23.36 16.96-23.36 12.96 0 16.32 8 16.32 20.8V128h28.48V71.36c0-21.12-9.76-34.72-29.76-34.72-10.4 0-18.08 3.68-23.04 11.2-4.96 7.52-7.84 17.12-8.96 29.12v-3.2c0-23.84-9.44-37.12-30.08-37.12-10.56 0-18.4 4.16-23.52 12.32-5.12 8.16-8 19.04-8.8 32.48l.16-3.04v-40h-28.16V128h28.32V83.36zM312.809 128V63.68h18.4V38.4h-18.4v-4.32c0-5.28 2.08-7.52 7.36-7.52h11.04V3.84h-12.32c-12.64 0-21.44 2.08-26.4 6.4-4.8 4.16-7.2 12.32-7.2 24.48v3.68h-14.72v25.28h14.72V128h27.52zM357.062 130.08c20.8 0 34.88-18.4 39.2-39.36-.16 5.6-.64 12.48-.64 18.08 0 15.36 7.84 20.32 23.68 20.32 4.48 0 9.76-.8 13.12-1.6v-23.2c-.8.48-2.72.8-4.16.8-3.68 0-5.28-1.28-5.28-6.4V72.96c0-24.8-14.72-36.32-41.12-36.32-22.24 0-38.08 10.08-49.44 25.44l24.8 15.68c5.12-11.52 12.48-17.6 24.16-17.6 10.88 0 15.2 5.44 15.2 12 0 4.96-5.28 7.2-12.48 9.28-5.12 1.28-11.2 2.56-16.32 3.68-8.16 1.92-14.72 3.68-20.96 6.72-8.48 4-13.44 10.08-13.44 19.04 0 11.04 7.84 19.2 23.68 19.2zm24.48-46.72c7.84-1.92 12.96-3.68 15.04-7.36v8.96c-1.92 16.48-10.4 23.36-21.28 23.36-8.96 0-13.6-4.16-13.6-10.08 0-8.8 7.84-11.84 19.84-14.88zM452.537 33.92c10.4 0 16.8-6.4 16.8-16.64s-6.4-16.8-16.8-16.8c-10.24 0-16.64 6.56-16.64 16.8 0 10.24 6.4 16.64 16.64 16.64zm-14.56 4.48V128h28.96V38.4h-28.96zM558.197 38.4h-79.84v24.48h51.52l-52.48 40.48V128h81.6v-24.96h-53.44l52.64-40.8V38.4zM631.939 38.4v45.44c0 14.08-4.8 23.2-16.96 23.2-12.96 0-16.96-8-16.96-20.8V38.4h-28.64v56.64c0 21.12 10.4 34.72 30.88 34.72 20.48 0 30.08-16.16 31.84-41.6V128h28.32V38.4h-28.48zM723.474 37.12c-9.6 0-16.32 3.68-20 10.88-3.68 7.2-5.76 17.44-6.56 30.88V38.4h-28.16V128h28.32V80.64c0-10.4 5.12-16 13.44-16 7.2 0 12.8 2.4 18.56 7.52l9.76-31.36c-4-2.08-9.6-3.68-15.36-3.68z"/></svg>
                  </div>
                  <div class="c-heroAboutContent-text">
                      <div class="c-heroAboutContent-text-content">
                           <p class="colorTextWhite">I’m an Indian designer who loves everything that has to do with design currently in Armenia and open to work globally.</p>
                        </div>
                  </div>
               </div>
               <div class="c-heroAbout-right">
                  <div class="c-heroAboutImage">
                     <div class="c-heroAboutImage-wrapper">
                        <div class="c-heroAboutImage-wrapper-inner">
                           <div class="heroAboutImage-media" style="transform: translate3d(-33.3333%, 0px, 0px);">
                              <div class="heroAboutImage-media-image" style="transform: translate3d(16.6667%, 0px, 0px);">
                                 <img src="https://images.unsplash.com/photo-1613909207039-6b173b755cc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1894&q=80" alt="Robin Noguier" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover;" class="loaded">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="c-heroAboutContent-text-onlyMobile">
                  <div class="c-heroAboutContent-text-content">
                     <p class="colorTextWhite">I’m an Indian designer who loves everything that has to do with design currently in Armenia and open to work globally.</p>
                  </div>
            </div>
         </div>
      </div>

    <div class="c-heroAbout-content">
        <div class="c-heroAbout-container">
            <div class="c-heroAbout-breif">
                <p class="h4 colorTextWhite">I design elegant and engaging sass products, dashboards, websites, apps and experiences with my solid design experience which combine creativity, business, and technology.</p>
            </div>
        </div>
    </div>

    <span class="cTestimonials-bg">
          <span class="cTestimonials-bg__inner">
             <span class="cTestimonials-bg__inner-circle"></span>
          </span>
    </span>

   </section>