<section class="section-homeHero homeHero" style="background-color: #000000;">
    <div class="container width-100">
        <div class="homeHero__content">
            <div class="homeHero__content-wrapper">,
                <div class="animatedText">
                    <h1 class="animatedText__label">We Design
                        <span class="word animated-text-word js-word">Websites.</span>
                        <span class="word animated-text-word js-word">Apps.</span>
                        <span class="word animated-text-word js-word">Branding.</span>
                        <span class="word animated-text-word js-word">Products.</span>
                        <span class="word animated-text-word js-word">UX/UI.</span>
                    </h1>
                </div>
                <h1 class="h1 headline colorTextWhite fontWeight-bold">Building digital <i>products, brands,</i> <i>and experiences</i></h1>
                <p class="subhead colorTextWhite">We transform your business problems into beautiful creative solutions. Let us help you tell your story.</p>
                <a href="#" class="link link--has-underline link--has-anchorAnimation">
                    <span>Let's build our stories together</span>
                    <aside>
                        <span><i><svg class="svgIcon-root icon-right"><use xlink:href="icons/icons.svg#icon-arrow-right"></use></svg></i></span>
                        <span><i><svg class="svgIcon-root icon-right"><use xlink:href="icons/icons.svg#icon-arrow-right"></use></svg></i></span>
                    </aside>
                </a>
            </div>
        </div>
    </div>


    <picture>
        <source media="(max-width: 720px)" srcset="../public/images/banners/hero-mobile.jpg">
        <img src="../public/images/banners/hero.jpg" alt="Hero" class="lazyload bg-image">
    </picture>


</section>