<section class="c-inside">
    <div class="c-inside-content">
        <div class="c-inside-top" data-sal="header">
            <span class="comman-label">Behind the scenes</span>
            <h2 class="headline h2 fontWeightMedium">Going beyond <br>what’s possible</h2>
            <p class="p3 subhead">We live and breathe Design so that you can focus<i>
                            on what you do best.</i></p>
        </div>
        <div class="c-inside-bottom">
            <div class="c-inside-container">
            <div class="wrapper-image" id="wrapper-image">
                <div class="wrapper-image-container">
                    <div class="wrapper-image-inner">
                        <div class="wrapper-image-item --image-1">
                            <div class="image-container">
                                <img src="public/images/collage/1-collage-image.jpg" alt="">
                            </div>
                        </div>
                        <div class="wrapper-image-item --image-2">
                            <div class="image-container">
                                <img src="public/images/collage/3-collage-image.jpg" alt="">
                            </div>
                            <div class="image-container">
                                <img src="public/images/collage/2-collage-image.jpg" alt="">
                            </div>
                        </div>
                        <div class="wrapper-image-item --image-3">
                            <div class="image-container">
                                <img src="public/images/collage/4-collage-image.jpg" alt="">
                            </div>
                        </div>
                        <div class="wrapper-image-item --image-4">
                            <div class="image-container">
                                <img src="public/images/collage/5-collage-image.jpg" alt="">
                            </div>
                        </div>
                        <div class="wrapper-image-item --image-5">
                            <div class="image-container">
                                <img src="public/images/collage/6-collage-image.jpg"  alt="">
                            </div>
                        </div>
                        <div class="wrapper-image-item --image-6">
                            <div class="image-container">
                                <img src="public/images/collage/7-collage-image.jpg" alt="">
                            </div>
                        </div>
                        <div class="wrapper-image-item --image-7">
                            <div class="image-container">
                                                            <img src="public/images/collage/8-collage-image.jpg" alt="">
                                                        </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>

            <div class="c-expertise">
                <div class="c-expertise-content">
                    <div class="c-expertise-container">
                        <div class="services">
                            <div class="services-wrapper">
                                <div class="services__cols">
                                    <ul class="service-list">
                                        <li>Strategy</li>
                                        <li>UX Design</li>
                                        <li>UI Design</li>
                                    </ul>
                                </div>
                                <div class="services__cols">
                                    <ul class="service-list">
                                        <li>Web Design</li>
                                        <li>App Design</li>
                                        <li>Motion Design</li>
                                    </ul>
                                </div>
                                <div class="services__cols">
                                    <ul class="service-list">
                                        <li>Branding</li>
                                        <li>Styleguide</li>
                                        <li>Illustrations</li>
                                    </ul>
                                </div>
                                <div class="services__cols">
                                    <ul class="service-list">
                                        <li>Design System</li>
                                        <li>Wireframes</li>
                                        <li>Wireframes</li>
                                    </ul>
                                </div>
                                <div class="services__cols">
                                    <ul class="service-list">
                                        <li>Consulting</li>
                                        <li>Mangement</li>
                                        <li>More...</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
