<section class="c-featuredProjects">
    <div class="c-featuredProjects-content">
        <div class="c-featuredProjects-container">

            <div class="c-featuredProjects-top" data-sal="header">
                <h2 class="headline h3 fontWeightMedium">featured <span class="textOutline">projects</span></h2>
                <span class="subhead-caption" style="letter-spacing: 0">Scroll down for more</span>
            </div>
            <div class="c-featuredProjects-bottom">
                <div class="workShowcase">
                        <div class="workShowcase__container">
                            <div class="workShowcase__split">
                                <div class="workShowcase__split-cols --left">

                                    {% for project in projects|slice(0, 3)|sort %}
                                        <div class="work-preview">
                                        {% include "../../components/molecules/projectcard.twig" %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="workShowcase__split-cols --right">
                                    {% for project in projects|slice(-5,3)|sort %}
                                        <div class="work-preview">
                                        {% include "../../components/molecules/projectcard.twig" %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <a href="projects.html" class="btn btn--border btn--radius-100 btn--effectPan btn-viewmore">
                                <span>View all projects</span>
                            </a>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</section>