<section class="c-services">
    <div class="c-services-content">
        <div class="c-services-container">
            <div class="c-services-top">
                <span class="comman-label">Services</span>
                <h2 class="headline h2 fontWeightMedium">We build modern <i>experiences</i></h2>
                <p class="p3 subhead">We'll help you with an innovative solution for every business challenge you may
                    have</p>
            </div>
            <div class="c-services-bottom">
                <div class="services">
                    <div class="services-wrapper">
                        <div class="services__cols">
                            <img class="service-icon" src="public/images/graphics/services/icon-ourvalue.svg" alt="">
                            <ul class="service-list">
                                <li class="headline"><h6>Our values</h6></li>
                                <li>Brand strategy</li>
                                <li>UI/UX design</li>
                                <li>Branding</li>
                                <li>Design audit</li>
                                <li>Consulting</li>
                            </ul>
                        </div>
                        <div class="services__cols">
                            <img class="service-icon" src="public/images/graphics/services/icon-website.svg" alt="">
                            <ul class="service-list">
                                <li class="headline"><h6>Website</h6></li>
                                <li>UI/UX design</li>
                                <li>Responsive</li>
                                <li>Ecommerce</li>
                                <li>Prototyping</li>
                                <li>Testing</li>
                                <li>Frontend</li>
                            </ul>
                        </div>
                        <div class="services__cols">
                            <img class="service-icon" src="public/images/graphics/services/icon-mobile.svg" alt="">
                            <ul class="service-list">
                                <li class="headline"><h6>Mobile</h6></li>
                                <li>iOS</li>
                                <li>Android</li>
                                <li>Branding</li>
                                <li>Prototyping</li>
                                <li>Testing</li>
                            </ul>
                        </div>
                        <div class="services__cols">
                            <img class="service-icon" src="public/images/graphics/services/icon-sass.svg" alt="">
                            <ul class="service-list">
                                <li class="headline"><h6>Sass + Business</h6></li>
                                <li>Dashboard</li>
                                <li>Web App</li>
                                <li>Design solutions</li>
                                <li>More...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>