<section class="section-testimonials homepage--feature" >
      <div class="cTestimonials container">
        <div class="section-header">
            <span class="comman-label">WHAT CLIENTS SAYS</span>
            <h2 class="headline h3 medium">Testimonials</h2>
        </div>

         <div class="cTestimonials__carousel">
            <div class="cTestimonials__slider">
                <div class="slider slider-for">
                   <div class="cTestimonial-words --client-1">
                      <p class="cTestimonial-words-content">"Working with Faizur was interesting. He went above and beyond what I've asking for and provided such an amazing design for my mobile application. He was efficient and creative. "</p>
                      <div class="cTestimonial__client">
                         <h5 class="cTestimonial__client-role h5 regular">Naomi Thomas</h5>
                         <h6 class="cTestimonial__client-brand">Boss Business Market</h6>
                      </div>
                   </div>
                   <div class="cTestimonial-words --client-2">
                      <p class="cTestimonial-words-content">Faizur has been amazing to work with his so fast and one of the view designers I have worked with that takes the time to understand the vision of the company before starting the work.</p>
                      <div class="cTestimonial__client">
                         <h5 class="cTestimonial__client-role h5 regular">Luke Lawal Jr.</h5>
                         <h6 class="cTestimonial__client-brand">Taper, Inc.</h6>
                      </div>
                   </div>
                   <div class="cTestimonial-words --client-3">
                                         <p class="cTestimonial-words-content">Faizur has been amazing to work with his so fast and one of the view designers I have worked with that takes the time to understand the vision of the company before starting the work.</p>
                                         <div class="cTestimonial__client">
                                            <h5 class="cTestimonial__client-role h5 regular">Dr. Dominik Dellermann</h5>
                                            <h6 class="cTestimonial__client-brand">Vencortex</h6>
                                         </div>
                                      </div>
                   <div class="cTestimonial-words --client-4">
                      <p class="cTestimonial-words-content">Faizur has been amazing to work with his so fast and one of the view designers I have worked with that takes the time to understand the vision of the company before starting the work.</p>
                      <div class="cTestimonial__client">
                         <h5 class="cTestimonial__client-role h5 regular">Scott Adamson</h5>
                         <h6 class="cTestimonial__client-brand">The Wanderful</h6>
                      </div>
                   </div>
                   <div class="cTestimonial-words --client-5">
                      <p class="cTestimonial-words-content">Faizur has been amazing to work with his so fast and one of the view designers I have worked with that takes the time to understand the vision of the company before starting the work.</p>
                      <div class="cTestimonial__client">
                         <h5 class="cTestimonial__client-role h5 regular">Fares Almuhanna</h5>
                         <h6 class="cTestimonial__client-brand">Avo Rewards</h6>
                      </div>
                   </div>
                   <div class="cTestimonial-words --client-6">
                      <p class="cTestimonial-words-content">Faizur has been amazing to work with his so fast and one of the view designers I have worked with that takes the time to understand the vision of the company before starting the work.</p>
                      <div class="cTestimonial__client">
                         <h5 class="cTestimonial__client-role h5 regular">Giacomo</h5>
                         <h6 class="cTestimonial__client-brand">Moneymour</h6>
                      </div>
                   </div>
                   <div class="cTestimonial-words --client-7">
                      <p class="cTestimonial-words-content">Faizur has been amazing to work with his so fast and one of the view designers I have worked with that takes the time to understand the vision of the company before starting the work.</p>
                      <div class="cTestimonial__client">
                         <h5 class="cTestimonial__client-role h5 regular">Ahmedalameer </h5>
                         <h6 class="cTestimonial__client-brand">Diyar</h6>
                      </div>
                   </div>

                </div>
                <div class="slider slider-nav">
                   <div class="cTestimonial-avatar --client-1">
                      <figure class="cTestimonial-avatar__image">
                         <img src="public/images/clients/client-naomi.jpg" alt="">
                      </figure>
                   </div>
                   <div class="cTestimonial-avatar --client-2">
                      <figure class="cTestimonial-avatar__image">
                         <img src="public/images/clients/client-luke.jpg" alt="">
                      </figure>
                   </div>
                   <div class="cTestimonial-avatar --client-3">
                                         <figure class="cTestimonial-avatar__image">
                                            <img src="public/images/clients/client-dominik.jpg" alt="">
                                         </figure>
                                      </div>
                   <div class="cTestimonial-avatar --client-4">
                      <figure class="cTestimonial-avatar__image">
                         <img src="public/images/clients/client-scott.jpg" alt="">
                      </figure>
                   </div>
                   <div class="cTestimonial-avatar --client-5">
                      <figure class="cTestimonial-avatar__image">
                         <img src="public/images/clients/client-faris.jpg" alt="">
                      </figure>
                   </div>
                   <div class="cTestimonial-avatar --client-6">
                      <figure class="cTestimonial-avatar__image">
                         <img src="public/images/clients/client-ahmad.jpg" alt="">
                      </figure>
                   </div>
                   <div class="cTestimonial-avatar --client-7">
                      <figure class="cTestimonial-avatar__image">
                         <img src="public/images/clients/client-ahmad.jpg" alt="">
                      </figure>
                   </div>




            </div>
               <div class="slider-dots-box"></div>
               <div class="slider-control">
                  <div class="prev">
                     <button type="button">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><line fill="none" stroke-width="2" stroke-linecap="round" x1="9.1" y1="2.5" x2="2" y2="9.4"></line> <line fill="none" stroke-width="2" stroke-linecap="round" x1="9.1" y1="2.5" x2="16" y2="9.4"></line> <path fill="none" stroke-width="2" stroke-linecap="round" d="M9.1,15.5l0-13"></path></svg>
                     </button>
                  </div>
                  <div class="next">
                     <button type="button">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><line fill="none" stroke-width="2" stroke-linecap="round" x1="9.1" y1="2.5" x2="2" y2="9.4"></line> <line fill="none" stroke-width="2" stroke-linecap="round" x1="9.1" y1="2.5" x2="16" y2="9.4"></line> <path fill="none" stroke-width="2" stroke-linecap="round" d="M9.1,15.5l0-13"></path></svg>
                     </button>
                  </div>
               </div>

          </div>
         </div>

      </div>

   <span class="cTestimonials-bg">
               <span class="cTestimonials-bg__inner">
                  <span class="cTestimonials-bg__inner-circle"></span>
               </span>
            </span>
</section>



