<section class="c-testimonial">
   <div class="c-testimonial-content postionRelative">
      <div class="c-testimonial-container">

         <div class="cTestimonials">
            <div class="c-testimonial-top"  data-sal="header">
               <span class="comman-label">WHAT CLIENTS SAYS</span>
               <h2 class="headline h2 fontWeightMedium">Testimonials</h2>
            </div>

            <div class="c-testimonial-bottom">
               <div class="cTestimonials__carousel">
                  <div class="cTestimonials__slider">
                     <div class="slider slider-for js-cTestimonialSlider">
                        <div class="cTestimonial-words --client-1">
                           <p class="cTestimonial-words-content">Faizur is by far my favourite UX/UI designer and
                              creative visionary. Working with him is always an amazing experience. His design vision is
                              out of this world and he pours his heart and soul into every project. Highly recommended
                              for UI/UX education & speaking opportunities as well as a design lead for projects of all
                              sizes. Thanks for everything you do!</p>
                           <div class="cTestimonial__client">
                              <h5 class="cTestimonial__client-role h5 regular">Naomi Thomas</h5>
                              <h6 class="cTestimonial__client-brand">Boss Business Market</h6>
                           </div>
                        </div>
                        {# <div class="cTestimonial-words --client-2"> #}
                        {# <p class="cTestimonial-words-content">Faizur is the ultimate professional, honest and hard-working designer and most of all best in class with regards to website design and app design (UX/UI). For us, he did a lot more than agreed, he delivered amazing work to us, we really enjoyed working with him, because of his love for completeness and perfection. Will happily work together again!</p> #}
                        {# <div class="cTestimonial__client"> #}
                        {# <h5 class="cTestimonial__client-role h5 regular">Luke Lawal Jr.</h5> #}
                        {# <h6 class="cTestimonial__client-brand">Taper, Inc.</h6> #}
                        {# </div> #}
                        {# </div> #}
                        <div class="cTestimonial-words --client-3">
                           <p class="cTestimonial-words-content">Faizur is one of the few creative designers that
                              combines business knowledge, user experience design and coding. That unique skill set
                              makes him an extraordinary complement to our team! he helped us to create everything from
                              scratch included business strategies. branding, website & dashboard. It's always a
                              pleasure to work with him!</p>
                           <div class="cTestimonial__client">
                              <h5 class="cTestimonial__client-role h5 regular">Dr. Dominik Dellermann</h5>
                              <h6 class="cTestimonial__client-brand">Vencortex</h6>
                           </div>
                        </div>
                        <div class="cTestimonial-words --client-4">
                           <p class="cTestimonial-words-content">Faizur has been amazing to work with he's so fast and
                              one of the view designers I have worked with that takes the time to understand the vision
                              of the company before starting the work. He did amazing job for us and worked on different
                              areas on UX/UI design, I really enjoyed working with him. I highly recommend him to
                              anyone. </p>
                           <div class="cTestimonial__client">
                              <h5 class="cTestimonial__client-role h5 regular">Scott Adamson</h5>
                              <h6 class="cTestimonial__client-brand">The Wanderful</h6>
                           </div>
                        </div>
                        <div class="cTestimonial-words --client-5">
                           <p class="cTestimonial-words-content">Working with Faizur was very interesting to us. He went
                              above and beyond what I've asked for and provided such an amazing design for my mobile
                              application, We liked the way how he think about UX/UI design and he provided us amazing
                              design solutions for mobile app design, did a great job with efficient and creative,
                              Thanks for amazing designs!</p>
                           <div class="cTestimonial__client">
                              <h5 class="cTestimonial__client-role h5 regular">Fares Almuhanna</h5>
                              <h6 class="cTestimonial__client-brand">Avo Rewards</h6>
                           </div>
                        </div>
                        <div class="cTestimonial-words --client-6">
                           <p class="cTestimonial-words-content">Faizur is the ultimate professional, honest and
                              hard-working designer and most of all best in class with regards to website design and app
                              design (UX/UI). For us, he did a lot more than agreed, he delivered amazing work to us, we
                              really enjoyed working with him, because of his love for completeness and perfection. Will
                              happily work together again!</p>
                           <div class="cTestimonial__client">
                              <h5 class="cTestimonial__client-role h5 regular">Giacomo</h5>
                              <h6 class="cTestimonial__client-brand">Moneymour</h6>
                           </div>
                        </div>
                        <div class="cTestimonial-words --client-7">
                           <p class="cTestimonial-words-content">I like how you knew what and how exactly we want our
                              application’s design to be. His design approach was very unique and powerful, He did
                              wonderful job for our app design, I highly recommend faizur for anyone looking for UX/UI
                              design, faizur can really produce truly amazing experiences for design. Superb! keeps up
                              the good work! 🙌🏼🙌🏼</p>
                           <div class="cTestimonial__client">
                              <h5 class="cTestimonial__client-role h5 regular">Ahmedalameer </h5>
                              <h6 class="cTestimonial__client-brand">Diyar</h6>
                           </div>
                        </div>

                     </div>
                     <div class="slider slider-nav js-cTestimonialSliderNav">
                        <div class="cTestimonial-avatar --client-1">
                           <figure class="cTestimonial-avatar__image">
                              <img src="public/images/clients/client-naomi.jpg" alt="">
                           </figure>
                        </div>
                        {# <div class="cTestimonial-avatar --client-2"> #}
                        {# <figure class="cTestimonial-avatar__image"> #}
                        {# <img src="public/images/clients/client-luke.jpg" alt=""> #}
                        {# </figure> #}
                        {# </div> #}
                        <div class="cTestimonial-avatar --client-3">
                           <figure class="cTestimonial-avatar__image">
                              <img src="public/images/clients/client-dominik.jpg" alt="">
                           </figure>
                        </div>
                        <div class="cTestimonial-avatar --client-4">
                           <figure class="cTestimonial-avatar__image">
                              <img src="public/images/clients/client-scott.jpg" alt="">
                           </figure>
                        </div>
                        <div class="cTestimonial-avatar --client-5">
                           <figure class="cTestimonial-avatar__image">
                              <img src="public/images/clients/client-faris.jpg" alt="">
                           </figure>
                        </div>
                        <div class="cTestimonial-avatar --client-6">
                           <figure class="cTestimonial-avatar__image">
                              <img src="public/images/clients/client-giacomo.jpg" alt="">
                           </figure>
                        </div>
                        <div class="cTestimonial-avatar --client-7">
                           <figure class="cTestimonial-avatar__image">
                              <img src="public/images/clients/client-ahmad.jpg" alt="">
                           </figure>
                        </div>


                     </div>
                     <div class="slider-dots-box"></div>
                     <div class="slider-control">
                        <div class="prev">
                           <button type="button">
                              <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                   xmlns="http://www.w3.org/2000/svg">
                                 <line fill="none" stroke-width="2" stroke-linecap="round" x1="9.1" y1="2.5" x2="2"
                                       y2="9.4"></line>
                                 <line fill="none" stroke-width="2" stroke-linecap="round" x1="9.1" y1="2.5" x2="16"
                                       y2="9.4"></line>
                                 <path fill="none" stroke-width="2" stroke-linecap="round" d="M9.1,15.5l0-13"></path>
                              </svg>
                           </button>
                        </div>
                        <div class="next">
                           <button type="button">
                              <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                   xmlns="http://www.w3.org/2000/svg">
                                 <line fill="none" stroke-width="2" stroke-linecap="round" x1="9.1" y1="2.5" x2="2"
                                       y2="9.4"></line>
                                 <line fill="none" stroke-width="2" stroke-linecap="round" x1="9.1" y1="2.5" x2="16"
                                       y2="9.4"></line>
                                 <path fill="none" stroke-width="2" stroke-linecap="round" d="M9.1,15.5l0-13"></path>
                              </svg>
                           </button>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>

      </div>

      <span class="cTestimonials-bg">
      <span class="cTestimonials-bg__inner">
         <span class="cTestimonials-bg__inner-circle"></span>
      </span>
   </span>


   </div>

</section>



