<section class="section-featuredProjects homepage--feature">
    <div class="container">
        <div class="section-header section-header--modifier">
            <h2 class="headline h3 fontWeight-regular">Featured projects<br>
                <span class="meta fontWeight-regular" style="letter-spacing: 0">Scroll down for more</span>
            </h2>
        </div>
    </div>

    <div class="workShowcase">
        <div class="workShowcase__container">
            <div class="workShowcase__split">
                <div class="workShowcase__split-cols --left">

                    {% for project in projects|slice(0, 3)|sort %}
                        {% include "../../components/molecules/projectcard.twig" %}
                    {% endfor %}
                </div>
                <div class="workShowcase__split-cols --right">
                    {% for project in projects|slice(3, 6)|sort %}
                        {% include "../../components/molecules/projectcard.twig" %}
                    {% endfor %}
                </div>
            </div>

            <button class="btn btn--border btn--radius-100 btn--effectPan btn-viewmore" data-magnetic="">
                <span>View all projects</span>
            </button>
        </div>

    </div>

</section>