<div class="chatbox" onclick="window.location.href='contact.html';" data-tilt>
  <div class="chatbox__icon">
    <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 28 28">
      <path fill="#fff"
        d="M14.001 0A14.013 14.013 0 00.003 13.999a13.837 13.837 0 003.595 9.357L.224 26.745a.693.693 0 00-.162.795.737.737 0 00.678.457H14a13.999 13.999 0 000-27.997z" />
    </svg>
  </div>
</div>