<footer class="c-footer">


    <div class="marqueeText-root">
        <div class="marqueeText">Working next to developers</div>
        <div class="marqueeText">Indian tea</div>
        <div class="marqueeText">Pixel perfect</div>
        <div class="marqueeText">Minimalist</div>
        <div class="marqueeText">Things with purpose</div>
        <div class="marqueeText">Talkative</div>
        <div class="marqueeText">Workplace</div>
        <div class="marqueeText">Content creator</div>
        <div class="marqueeText">Working well with others</div>
        <div class="marqueeText">Believe in teamwork</div>
    </div>

    <div class="c-footer-container">
        <div class="footerContent">
            <div class="footerContent__body">
                <div class="footer-content">
                    <h2 class="h2 fontWeight-medium">Whenever, wherever.</h2>
                    <a href="#" class="h2 link link--has-underline colorTextWhite">Let’s work together</a>
                </div>
            </div>
            <div class="footerContent__lower">
                <div class="footer-grid">

                    <div class="footer-grid-col --left">
                        <a href="#" class="link link--has-underline colorTextWhite footer-email">me@faizur.com</a>
                        <a href="#" class="tiny-link">Privacy</a>
                    </div>
                    <div class="footer-grid-col --right">
                        <div class="footer-social">
                            <ul class="footer-social-row">
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="#">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Instagram</span>
                                    </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="#">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Youtube</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="#">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Dribbble</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="#">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Linkedin</span> </a>
                                </li>
                            </ul>
                            <ul class="footer-social-row">
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="#">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Medium</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="#">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Behance</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="#">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Twitter</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="#">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Codepen</span> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-social-icon">
                            <a href="#">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>