
<footer class="c-footer">

    <div class="marqueeText-root">
        <div class="marqueeText">Working next to developers</div>
        <div class="marqueeText">Indian tea</div>
        <div class="marqueeText">Pixel perfect</div>
        <div class="marqueeText">Minimalist</div>
        <div class="marqueeText">Things with purpose</div>
        <div class="marqueeText">Talkative</div>
        <div class="marqueeText">Workplace</div>
        <div class="marqueeText">Content creator</div>
        <div class="marqueeText">Working well with others</div>
        <div class="marqueeText">Believe in teamwork</div>
    </div>

    <div class="c-footer-container">
        <div class="footerContent">
            <div class="footerContent__body">
                <div class="footer-content">
                    <h2 class="h2 fontWeight-medium">Whenever, wherever.</h2>
                    <a href="#" class="h2 link link--has-underline colorTextWhite">Let’s work together</a>
                </div>
            </div>
            <div class="footerContent__lower">
                <div class="footer-grid">

                    <div class="footer-grid-col --left">
                        <a href="#" class="link link--has-underline colorTextWhite footer-email">me@faizur.com</a>
                        <a href="#" class="tiny-link">Privacy</a>
                    </div>
                    <div class="footer-grid-col --right">
                        <div class="footer-social">
                            <ul class="footer-social-row">
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="https://www.instagram.com/fazurrehman/" target="_blank">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Instagram</span>
                                    </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="https://www.youtube.com/channel/UCQR7vuOpqGq1MmY4HHvlTyw?sub_confirmation=1" target="_blank">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Youtube</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="https://dribbble.com/fazurrehman" target="_blank">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Dribbble</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="https://www.linkedin.com/in/fazurrehman/" target="_blank">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Linkedin</span> </a>
                                </li>
                            </ul>
                            <ul class="footer-social-row">
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="https://medium.com/fazurrehman" target="_blank">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Medium</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="https://twitter.com/fazurrehman" target="_blank">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Twitter</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="https://www.patreon.com/fazurrehman" target="_blank">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Patreon</span> </a>
                                </li>
                                <li class="js-linkHover socialItem">
                                    <a class="linkHover" href="https://pinterest.com/fazurrehman/" target="_blank">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Pinterest</span> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-social-icon">
                            <a href="#" target="_blank">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                            <a href="https://www.youtube.com/channel/UCQR7vuOpqGq1MmY4HHvlTyw?sub_confirmation=1" target="_blank">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-youtube"></use>
                                </svg>
                            </a>
                            <a href="https://dribbble.com/fazurrehman" target="_blank">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-dribbble"></use>
                                </svg>
                            </a>
                            <a href="https://www.linkedin.com/in/fazurrehman/" target="_blank">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                            <a href="https://medium.com/fazurrehman" target="_blank">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-medium"></use>
                                </svg>
                            </a>
                            <a href="https://twitter.com/fazurrehman" target="_blank">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-twitter"></use>
                                </svg>
                            </a>
                            <a href="https://www.patreon.com/fazurrehman" target="_blank">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-patreon"></use>
                                </svg>
                            </a>
                            <a href="mailto:me@faizur.com" onmouseover="this.href=this.href.replace(/x/g,'');">
                                <svg class="svgIcon-root icon-right">
                                    <use xlink:href="icons/icons.svg#icon-message"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>