<header class="menu">
  <div class="menu-container">
    <div class="menu__container">
      <div class="menu__navContainer">
           <div class="menu__logo">
             <div class="menu__logo--link">
               <a href="/">{% include "logo.twig" %}</a>
             </div>
           </div>
           <nav class="menuNav">
             <ul class="menuNav__list">
               <li class="menuNav-item js-linkHover">
                 <a href="projects.html" class="menuNav-item__link linkHover {% if page=='work'%}menuNav--active{% endif %}">
                   <aside class="linkHoverWrap"></aside>
                   <span class="menuNav-link">Work</span>
                 </a>
               </li>
               <li class="menuNav-item js-linkHover">
                 <a href="shop.html" class="menuNav-item__link linkHover {% if page=='shop'%}menuNav--active{% endif %}">
                   <aside class="linkHoverWrap"></aside>
                   <span class="menuNav-link">Shop</span>
                 </a>
               </li>
               <li class="menuNav-item js-linkHover">
                 <a href="whatsnew.html" class="menuNav-item__link linkHover {% if page=='whatsnew'%}menuNav--active{% endif %}">
                   <aside class="linkHoverWrap"></aside>
                   <span class="menuNav-link">What's New</span>
                 </a>
               </li>
             </ul>
           </nav>
           <div class="menu-btnRow">
             <div class="menu-btn" aria-label="menu" >
               <span class="menu-btn__text">Menu</span>
               <div class="menu-btn__toggle">
                 <button class="menu-btn__toggleBtn js-btn--effectMagnetic" aria-label="menu" data-magnetic="" ><span></span><span></span></button>
               </div>
             </div>
           </div>
         </div>
    </div>
  </div>
</header>

