<div class="menuPanel">
    <div class="menuPanel__wrapper">
        <div class="menuPanel__wrapper-inner">
            <div class="c-menuPanel-container">
                <div class="menuPanel-logo">
                    <a href="/">{% include "logo.twig" %}</a>
                </div>
                <div class="menuPanel-container__row">
                    <div class="menuPanel__primary">
                        <nav class="menuNav --primary">
                            <ul class="menuNav__list">
                                <li class="menuNav-item js-linkHover">
                                    <a href="projects.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">About</span>
                                    </a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="shop.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Work</span>
                                    </a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="whatsnew.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Shop</span>
                                    </a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="whatsnew.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">What's New</span>
                                    </a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="whatsnew.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Contact</span>
                                    </a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="whatsnew.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Masterclass<div
                                                    class="badge badge-new">Coming soon</div></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="menuPanel__secondary">
                        <nav class="menuNav --left">
                            <span class="comman-label">Mics stuff</span>
                            <ul class="menuNav__list">
                                <li class="menuNav-item">
                                    <h6 class="h6">New Business</h6>
                                    <a href="mailto:me@faizur.com" class="link link--has-underline"
                                       onmouseover="this.href=this.href.replace(/x/g,'');">me@faizur.com</a>
                                </li>
                                <li class="menuNav-item">
                                    <h6 class="h6">Get more updates about <br> freebies & products</h6>
                                    <a href="mailto:me@faizur.com" class="link"
                                       onmouseover="this.href=this.href.replace(/x/g,'');">Join the newsletter</a>
                                </li>

                            </ul>
                        </nav>
                        <nav class="menuNav --right">
                            <span class="comman-label">Social media</span>
                            <ul class="menuNav__list">
                                <li class="menuNav-item js-linkHover">
                                    <a href="projects.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Instagram</span></a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="projects.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">YouTube</span></a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="projects.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Dribbble</span></a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="projects.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Linkedin</span></a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="projects.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Medium</span></a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="projects.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Twitter</span></a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="projects.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Patreon</span></a>
                                </li>
                                <li class="menuNav-item js-linkHover">
                                    <a href="projects.html" class="menuNav-item__link linkHover">
                                        <aside class="linkHoverWrap"></aside>
                                        <span class="menuNav-link">Pinterest</span></a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menuPanel-modal"></div>
</div>

