@mixin hoverline {
  transform-origin: left bottom;
  will-change: transform;
  transition: 800ms scaleX cubic-bezier(0.694, 0, 0.335, 1), 800ms color cubic-bezier(0.694, 0, 0.335, 1);
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 2;
    will-change: transform, color;
    transition: transform 0.6s;
    transition-timing-function: cubic-bezier(0.694, 0, 0.335, 1);
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: 0 50%;
    transition-timing-function: ease;
  }
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin linkHover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100%!important;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

@mixin paddingTop {
  padding-top: var(--rowGapXLarge);
  @include media('>=medium') {
    padding-top: var(--rowGapXXLarge);
  }
  @include media('>=large') {
    padding-top: var(--rowGapXXXXLarge);
  }
}

@mixin paddingBottom {
  padding-bottom: var(--rowGapXLarge);
  @include media('>=medium') {
    padding-bottom: var(--rowGapXXLarge);
  }
  @include media('>=large') {
    padding-bottom: var(--rowGapXXXXLarge);
  }
}