@font-face
  font-family: "EudoxusSans"
  src: url('../public/fonts/EudoxusSans-Light.woff2') format("woff2"), url('../public/fonts/EudoxusSans-Light.woff2') format("woff")
  font-weight: 200
  font-style: normal
  font-display: swap

@font-face
  font-family: "EudoxusSans"
  src: url('../public/fonts/EudoxusSans-Regular.woff2') format("woff2"), url('../public/fonts/EudoxusSans-Regular.woff2') format("woff")
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: "EudoxusSans"
  src: url('../public/fonts/EudoxusSans-Medium.woff') format("woff2"), url('../public/fonts/EudoxusSans-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: "EudoxusSans"
  src: url('../public/fonts/EudoxusSans-Bold.woff2') format("woff2"), url('../public/fonts/EudoxusSans-Bold.woff') format("woff")
  font-weight: 700
  font-style: normal
  font-display: swap

