html{
  --transition: cubic-bezier(.86,0,.07,1);
  --layoutWidthMax: 100%;
  --buttonFontFamily: var(--fontFamilyMeta);
  --buttonFontSize: 1rem;
  --linkColor: var(--color-black);
  --LinkUnderline: var(--color-white-400);
  --linkHoverColor: 0.6;
  --menuTransition: cubic-bezier(.86,0,.07,1);
  --vw: 1vw;
  --marquee-width: 100vw;
  --rowGapNormal: 8px;
  --rowGapMedium: 24px;
  --rowGapLarge: 40px;
  --rowGapXLarge: 60px;
  --rowGapXXLarge: 80px;
  --rowGapXXXLarge: 120px;
  --rowGapXXXXLarge: 160px;
  --columnPaddingNormal: 16px;
  --columnPaddingMedium: 24px;
  --columnPaddingLarge: 40px;
  --cTestimonialAvatar: 120px
}


// Colors
:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-white-100: #F3F5F7;
  --color-white-200: #F2F2F2;
  --color-white-300: #E1E4E6;
  --color-white-400: #99A0AA;
  --color-black-100: #2B3034;
  --color-black-200: #151718;
  --color-accent-green: #00da81;
  --color-accent-yellow: #ffb900;
  --color-accent-red: #ff3512;
  --color-black-off: #0F0F0F;

  // typography
  --fontFamilyHeading: EudoxusSans, "Helvetica Neue", Arial, Sans-Serif;
  --fontFamilyBody: EudoxusSans, "Helvetica Neue", Arial, Sans-Serif;
  --fontFamilyMeta: EudoxusSans, "Helvetica Neue", Arial, Sans-Serif;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightBold: 700;
  --hoverTransition: 150ms all ease-in-out;

  // elements
  --button-border: var(--color-white-300);

}
