*,
:after,
:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html {
  font-size: 1rem;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  font-family: "Aeonik Pro", "Helvetica Neue", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-style: normal;
}

[tabindex]:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
}

[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  border-radius: 0;
  box-shadow: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
  -webkit-appearance: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
}

button,
input,
optgroup,
select,
textarea,
figure {
  margin: 0;
}

fieldset {
  border: none;
}

form {
  width: 100%
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

input::-ms-clear {
  height: 0;
  width: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
  padding: 0;
}

em,
i {
  font-style: normal;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

strong {
  font-family: var(--body);
  font-style: normal;
  font-weight: 700;
}

[hidden] {
  display: none !important;
}

svg:not(:root) {
  overflow: hidden
}

svg {
  width:  auto;
  height: auto;
}

canvas, iframe, img, svg, video{
  vertical-align: middle;
}

main{
overflow-x: hidden}


[data-scroll]{
will-change: transform
}