<!doctype html>
<html lang="eng">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/globals.min.css">
</head>

<body class="faizur-homepage faizur">
  <main role="main" class="app-content">
    {% block content %}
  </main>
  {% endblock %}
  {{ block('included_content') }}
</body>

</html>