<!doctype html>
<html lang="eng">

<head>
</head>

<body class="{% if pageClass is defined %}{{ pageClass }}{% else %}{% endif %}" style="" data-scroll-container>
  <main role="main" class="app-content">
    {% block content %}
  </main>
  {% endblock %}
  {{ block('included_content') }}
</body>

</html>