<!doctype html>
<html lang="eng">

<head>
  {% include "../components/global/meta.twig" %}
</head>

<body class="{% if pageClass is defined %}{{ pageClass }}{% else %}{% endif %}" style="" data-scroll-container>
{% include "../components/global/sidebar.twig" %}
  {% include "../components/global/menu.twig" %}
  <main role="main">
    {% block content %}
    {% endblock %}
  </main>
  {% include "../components/global/footer.twig" %}
  {{ block('included_scripts') }}
</body>

</html>