.menu
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 999
  --navColor: var(--color-white)
  --navColorDark: var(--color-black)
  --navFontFamily: var(--font-family-meta)
  --navLight: var(--color-white)
  --navDark: var(--color-black)
  &__container
    position: relative
    padding: 0
  &__navContainer
    display: flex
    align-items: center
    //min-height: 100px
    padding: 24px 0
    position: relative

  // logo
  &__logo
    transition: var(--hoverTransition)
    transition-property: color,opacity
    position: relative
    z-index: 1
    &--link svg
      height: 28px
      fill: var(--navDark)
      @include media('<=medium')
        height: 24px


  //fa-menuNav
  .menuNav
    margin-left: 40px
    position: relative
    z-index: 2
    @include media('<=medium')
      display: none
    &__list
      display: flex
      align-items: center
      margin: 0
      padding: 0
      list-style: none
    .menuNav-item
      overflow: hidden
      position: relative


    // fa-menuNavItem__link
    &-item__link
      cursor: pointer
      appearance: none
      border: none
      outline: none
      position: relative
      padding: 10px 16px
      display: table
      font-family: var(--navFontFamily)
      line-height: 1.6
      font-weight: var(--fontWeightMedium)
      letter-spacing: 1px
      color: var(--navDark)
      z-index: 2
      overflow: hidden

      &.menuNav--active
        &:after
          content: ""
          position: absolute
          bottom: 0
          left: 0
          right: 0
          opacity: 1
          margin: auto
          text-align: center
          display: table
          width: 4px
          height: 4px
          user-select: none
          pointer-events: none
          border-radius: 4px
          background: #DC412A
          transition: opacity 800ms linear .2s

//effect
// fa-menuNavItem__link
.linkHover
  cursor: pointer
  appearance: none
  border: none
  outline: none
  position: relative
  padding: 10px 16px
  display: table
  font-family: var(--navFontFamily)
  line-height: 1.6
  font-weight: var(--fontWeightMedium)
  letter-spacing: 1px
  color: var(--navDark)
  z-index: 2
  overflow: hidden
  transition: all 400ms var(--menuTransition)
  .menuNav--link
    position: relative
  &:hover
    opacity: var(--linkHoverColor)
    transform: translateX(10px)
    .menuNav--link
      transform: translateX(10px)

.linkHoverWrap
  display: block
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: -1
  background: rgba(0, 0, 0, 0.08)
  visibility: hidden
  transition: opacity 1s linear 0.2s


// menuBtn
.menu
  &-btnRow
    position: fixed
    //pointer-events: none
    z-index: 0
    left: 0
    right: 0
    margin: 0 auto
    display: flex
    justify-content: flex-end



  &-btn
    position: relative
    display: inline-flex
    align-items: center
    overflow: unset
    will-change: transform
    margin-left: auto

    &__text
      padding: 0
      position: relative
      top: 0
      margin-right: 24px
      opacity: 0.8
      font-weight: var(--medium)
      color: var(--navDark)
    //&__toggle
    //  @include media('>=large')
    //    margin-right: -40px
    //  @include media('>=retina')
    //    margin-right: -80px


.menu-btn__toggleBtn
  position: relative
  display: block
  width: 24px
  height: 24px
  margin: 0
  padding: 0
  color: inherit
  background: 0 0
  border: 0
  border-radius: 0
  outline: 0 !important
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  letter-spacing: inherit
  line-height: inherit
  text-align: inherit
  text-transform: inherit
  text-indent: inherit
  text-decoration: none
  z-index: 200
  will-change: transform

  span
    display: block
    width: 100%
    height: 2px
    margin: 6px 0
    position: relative
    top: 0
    background: var(--color-black-200)
    transition: top 0.2s 0.3s, transform 0.3s 0s, opacity 0.3s 0.1s, background 0.4s

  &::before
    content: ""
    position: absolute
    top: -28px
    left: -28px
    right: -28px
    bottom: -28px
    border-radius: 50%
    background: var(--color-black-100)
    opacity: 0
    transform: scale(0.5)
    transition: transform 0.45s cubic-bezier(0.34, 2, 0.64, 1), opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1)
    @include media('>medium')
      top: -30px
      left: -30px
      right: -30px
      bottom: -30px

  &::after
    content: ""
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
    @include media('>medium')
      top: -35px
      left: -35px
      right: -35px
      bottom: -35px

  &:hover::before
    @include media('>medium')
      transform: scale(1)
      opacity: 0.3

  &.-active
    &::before
      @include media('>medium')
        transform: scale(1)
        opacity: 0.3
    span
      transition: transform 200ms, opacity 0.3s
      background-color: #0F0F0F!important
      &:first-child
        transform: translateY(4px) rotate(135deg)
      &:last-child
        transform: translateY(-4px) rotate(45deg)


  @media (pointer: coarse)
    &::before
      transform: scale(0.5)
      opacity: 0


// menuPanel
//===================================
.menuPanel
  position: fixed
  top: 0
  z-index: 998
  width: 100%
  transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
  background-color: #FFFFFF
  will-change: background-color

  .menuPanel-modal
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 12
    background: rgba(0, 0, 0, 0.1)
    visibility: hidden

  &__wrapper
    position: absolute
    display: flex
    justify-content: center
    width: 100%
    left: 0
    top: 0
    z-index: 999

    &-inner
      left: 0
      width: 100%
      position: absolute
      background-color: #FFFFFF
      padding: 60px 0 60px 0
      pointer-events: none
      visibility: hidden
      transform: translateY(-100%)
      transition: transform .4s cubic-bezier(.165,.84,.44,1),visibility .6s step-end
      //height: 600px
      overflow: scroll
      height: 100vh
      @include media('>medium')
        height: auto
        padding: 120px 0



  &.menu-open
    .menuPanel__wrapper-inner
      transition: transform .4s cubic-bezier(.165,.84,.44,1),visibility .6s step-start
      transform: translateY(0)
      opacity: 1
      visibility: visible
      pointer-events: all

    .menuPanel-modal
      opacity: 1
      visibility: inherit

    .menuNav
      opacity: 1
      transform: translate3d(0, 0, 0)

  // menuPanel container
  //===================================
  .menuPanel-container__row
    @include media('>medium')
      display: flex
      justify-content: space-between

  .menuPanel
    &__primary
      margin-bottom: 60px

    &__primary,
    &__secondary
      @include media('>medium')
        width: 50%

    &__secondary
      display: flex
      padding-bottom: 40px
      @include media('>large')
        width: 40%


  // primary nav
  .menuNav.--primary
    //margin-left: -24px
    .menuNav__list
      @include media('>large')
        display: flex
        flex-wrap: wrap

    .menuNav-item
      will-change: opacity, transform
      margin: 8px 12px 8px 0
      @include media('>large')
        width: calc(50% - 24px)

    .linkHover
      color: var(--color-black)
      font-size: 32px
      font-weight: var(--fontWeightMedium)
      letter-spacing: -1px
      padding: 0
      display: block
      @include media('>medium')
        letter-spacing: 0
        display: table
        font-size: 32px
      @include media('>largeX')
        font-size: 36px


  // --mics
  .menuNav.--left
    width: 50%
    .menuNav-item:not(:last-child)
      margin-bottom: var(--rowGapMedium)
    h6
      font-size: 14px
      letter-spacing: -0.3px
      font-weight: var(--fontWeightLight)
      @include media('>large')
        font-size: 1rem
    a
      color: var(--color-black)
      font-size: 1rem
      padding-top: var(--rowGapNormal) !important
      font-weight: var(--fontWeightMedium)
      @include media('>large')
        font-size: 24px

  // social media
  .menuNav.--right
    width: 40%
    padding-left: 10%
    .menuNav__list
      margin-left: -8px
    .linkHover
      color: var(--color-black)
      padding: 8px
      //margin-bottom: 8px
      font-size: 14px





// menuPanel classes
//===================================
.menuPanel-logo
  padding: 48px 0
  margin-top: -120px
  margin-bottom: 60px
  display: none
  @include media('>medium')
    display: block
  svg
    height: 28px

.menuPanel .menuNav
  opacity: 0
  transition: transform 800ms cubic-bezier(.165,.84,.44,1), opacity 800ms ease-in-out
  will-change: transform, opacity
  transform: translate3d(0, 200px, 0)

.menuPanel .comman-label
  letter-spacing: 0.5px
  font-weight: var(--fontWeightRegular)
  font-size: 15px
  text-transform: none
  opacity: .6
  margin-bottom: var(--rowGapMedium)

// menu style
//===================================
.menu--dark
  .menu__logo--link svg
    fill: var(--navLight)

  .link-effect span:before,
  .link-effect span:after,
  .menu .menuNav-item__link span,
  .menu-btn__text
    color: var(--navLight)

  .menu .menuNav-item__link .linkHoverWrap
    background-color: rgba(255,255,255, 0.1)

  .menu-btn__toggle span
    background-color: var(--navLight)



.-is-scroll-disable body
  overflow: hidden
  main
    pointer-events: none
  .menu .menu__logo,
  .menu .menuNav
    opacity: 0!important
    visibility: hidden!important
    pointer-events: none!important
  .menu-btn__text
    display: none




