.width-100
  width: 100%

.colorTextWhite
  color: var(--color-white)

.comman-label
  position: relative
  text-transform: uppercase
  pointer-events: none
  font-weight: var(--fontWeightBold)
  font-size: 1rem
  letter-spacing: 1.5px
  margin-bottom: 24px
  opacity: 0.8
  display: block
