.homepage--feature
  padding-top: var(--rowGapXLarge)
  padding-bottom: var(--rowGapXLarge)
  @include media('>=desktop')
    padding-top: var(--rowGapXXLarge)
    padding-bottom: var(--rowGapXXLarge)
  @include media('>=retina')
    padding-top: var(--rowGapXXXLarge)
    padding-bottom: var(--rowGapXXXLarge)


  .workShowcase
    @include media('>=tablet')
      margin-top: var(--rowGapXXXXLarge)
  .workShowcase__split-cols.--right
    margin-top: -40px
    @include media('>=tablet')
      margin-top: calc(#{var(--rowGapXXXXLarge)} * -1)



// workshowcase on homepage
.about--feature
  padding-top: var(--rowGapXLarge)
  padding-bottom: var(--rowGapXLarge)
  @include media('>=desktop')
    padding-top: var(--rowGapXXLarge)
    padding-bottom: var(--rowGapXXLarge)
  @include media('>=retina')
    padding-top: var(--rowGapXXXLarge)
    padding-bottom: var(--rowGapXXXLarge)








